src/Debug/
src/Release/
.project
*.vcxproj.user
*.vcproj.*.user
*~
*.testsettings
*.aps
*.suo
*.last
.DS_store
*.ppw
*.ppd
*.ppj
*.ppx
*.dsk
*.idx
*.ncb
*.$wrk

*.filters
*.ipch
*.sdf
/src/browser-power_i.c
/src/browser-power_i.h
/src/browser-power_p.c
/src/*.opensdf
